.cart-icon
  display: inline-block
  position: relative
  transition: transform .3s

  &__counter
    width: 18px
    height: 18px
    right: 0
    bottom: 0
    text-align: center
    font-size: 12px
    position: absolute
    border-radius: 50%
    background: #dfbd00

  &:hover
    transform: scale(1.1)

  &:active
    transform: scale(.95)
